.adminButton {
    padding: 7px 15px;
    min-width: 180px;
    min-height: 46px;
    border-radius: 12px;
    font-weight: 500;
    background: var(--static-bg-quaternary);
    color: var(--static-color-primary);
    cursor: pointer;
    border: 1px solid var(--static-color-primary);
    &:hover,
    &:active {
        background: var(--static-bg-quaternary);
        border: 1px solid var(--static-bg-secondary-sub);
        color: var(--static-bg-secondary-sub);
    }
    &:disabled {
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminTopNavButton {
    padding: 3px 20px;
    min-width: 100px;
    min-height: 36px;
    border-radius: 18px;
    font-weight: 400;
    border: none;
    background: var(--static-color-primary);
    color: var(--static-text-color);
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    &:hover,
    &:active {
        border: none;
        background: var(--static-bg-secondary-sub);
        color: var(--static-color-text-nu);
    }
    &:disabled {
        border: none;
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminActionButton {
    padding: 5px;
    min-width: 120px;
    min-height: 30px;
    border-radius: 9px;
    font-weight: 500;
    border: none;
    background: var(--static-color-secondary);
    color: var(--static-color-text-nu);
    text-align: center;
    cursor: pointer;
    &:hover,
    &:active {
        border: none;
        background: var(--static-color-secondary-sub);
        color: var(--static-color-text-nu);
    }
    &:disabled {
        border: none;
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminActionButtonInverse {
    padding: 5px;
    min-width: 120px;
    min-height: 30px;
    border-radius: 9px;
    font-weight: 500;
    border: 1px solid var(--static-color-secondary);
    background: var(--static-color-text-nu);
    color: var(--static-color-secondary);
    text-align: center;
    cursor: pointer;
    &:hover,
    &:active {
        border: 1px solid var(--static-color-secondary-sub);
        background: var(--static-bg-quaternary);
        color: var(--static-color-secondary-sub);
    }
    &:disabled {
        border: none;
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminButtonInverse {
    padding: 7px 15px;
    min-width: 180px;
    min-height: 46px;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--static-color-primary);
    background: var(--static-color-primary);
    color: var(--static-bg-quaternary);
    &:hover,
    &:active {
        border: 1px solid var(--static-bg-secondary-sub);
        background: var(--static-bg-secondary-sub);
        color: var(--static-color-text-nu);
    }
    &:disabled {
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminIconButton {
    padding: 2px 5px;
    min-width: 53px;
    min-height: 46px;
    border-radius: 12px;
    font-weight: 500;
    background: var(--static-bg-quaternary);
    color: var(--static-color-primary);
    cursor: pointer;
    border: 1px solid var(--static-color-primary);
    &:hover,
    &:active {
        background: var(--static-bg-primary);
        border: 1px solid var(--static-bg-primary);
        color: var(--static-color-text-nu);
    }
    &:disabled {
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminTableView {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    tr:hover {
        background-color: var(--static-bg-primary);
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    td {
        width: 50%;
    }
}

.adminNavButton {
    &:hover {
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
    }
}

.adminGradientBg {
    background-image: linear-gradient(
        90deg,
        var(--static-color-primary),
        var(--static-color-secondary)
    );
}

.adminTableButton {
    background: var(--static-color-secondary);
    color: var(--static-color-text-nu);
    border-radius: 9px;
    min-height: 30px;
    &:hover,
    &:active {
        border: none;
        background: var(--static-color-tertiary);
        color: var(--static-color-text-nu);
    }
    &:disabled {
        border: none;
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminTableButtonInverse {
    background: var(--static-color-tertiary);
    color: var(--static-color-text-nu);
    border-radius: 9px;
    min-height: 30px;
    &:hover,
    &:active {
        border: none;
        background: var(--static-color-secondary);
        color: var(--static-color-text-nu);
    }
    &:disabled {
        border: none;
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminTableWarnButton {
    background: #fff;
    color: #ad0f0f;
    border-radius: 9px;
    min-height: 30px;
    border: 1px solid #ad0f0f;
    &:hover,
    &:active {
        border: none;
        background: #ad0f0f;
        color: #fff;
        border-color: #fff;
    }
    &:disabled {
        border: none;
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminTableWarnButtonInverse {
    background: #ad0f0f;
    color: #fff;
    border-radius: 9px;
    min-height: 30px;
    border: 1px solid #fff;
    &:hover,
    &:active {
        border: none;
        background: #fff;
        color: #ad0f0f;
        border-color: #ad0f0f;
    }
    &:disabled {
        border: none;
        opacity: 0.3;
        background: var(--static-color-secondary);
        color: var(--static-text-color);
    }
}

.adminGradientBackground {
    background: var(--static-color-primary);
    background: linear-gradient(
        90deg,
        var(--static-color-primary) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

.adminLoadingSpinner {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
}
.adminLoadingSpinner div {
    animation: adminLoadingSpinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 80px 80px;
}
.adminLoadingSpinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    margin: -8px 0 0 -8px;
}
.adminLoadingSpinner div:nth-child(1) {
    animation-delay: -0.036s;
}
.adminLoadingSpinner div:nth-child(1):after {
    top: 126px;
    left: 126px;
}
.adminLoadingSpinner div:nth-child(2) {
    animation-delay: -0.072s;
}
.adminLoadingSpinner div:nth-child(2):after {
    top: 136px;
    left: 112px;
}
.adminLoadingSpinner div:nth-child(3) {
    animation-delay: -0.108s;
}
.adminLoadingSpinner div:nth-child(3):after {
    top: 142px;
    left: 96px;
}
.adminLoadingSpinner div:nth-child(4) {
    animation-delay: -0.144s;
}
.adminLoadingSpinner div:nth-child(4):after {
    top: 144px;
    left: 80px;
}
.adminLoadingSpinner div:nth-child(5) {
    animation-delay: -0.18s;
}
.adminLoadingSpinner div:nth-child(5):after {
    top: 142px;
    left: 64px;
}
.adminLoadingSpinner div:nth-child(6) {
    animation-delay: -0.216s;
}
.adminLoadingSpinner div:nth-child(6):after {
    top: 136px;
    left: 48px;
}
.adminLoadingSpinner div:nth-child(7) {
    animation-delay: -0.252s;
}
.adminLoadingSpinner div:nth-child(7):after {
    top: 126px;
    left: 34px;
}
.adminLoadingSpinner div:nth-child(8) {
    animation-delay: -0.288s;
}
.adminLoadingSpinner div:nth-child(8):after {
    top: 112px;
    left: 24px;
}
@keyframes adminLoadingSpinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.adminSiteCard {
    min-height: 194px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #f1f1f1;

    .adminSiteCardIcon {
        height: 148px;
        width: 148px;
        border-radius: 12px;
        border: 1px solid #f1f1f1;
    }
}
