// font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-ultra-bold: 800;

$static-font-weight: (
    "light": $font-weight-light,
    "normal": $font-weight-normal,
    "medium": $font-weight-medium,
    "bold": $font-weight-bold,
    "ultra-bold": $font-weight-ultra-bold
);

// Font Level
$super-title: (
    null: 26px,
    $breakpoint-lg: 72px
);
$title: (
    null: 22px,
    $breakpoint-lg: 36px
);
$modal-title: (
    null: 20px,
    $breakpoint-lg: 30px
);
$subtitle: (
    null: 18px,
    $breakpoint-lg: 27px
);
$sub-headline: (
    null: 18px,
    $breakpoint-lg: 24px
);
$headline: (
    null: 16px,
    $breakpoint-lg: 22px
);
$sub-body: (
    null: 14px,
    $breakpoint-lg: 22px
);
$body: (
    null: 14px,
    $breakpoint-lg: 18px
);
$icon: (
    null: 16px,
    $breakpoint-lg: 20px
);
$content: (
    null: 15px,
    $breakpoint-lg: 16px
);
$detail-caption: (
    null: 16px,
    $breakpoint-lg: 18px
);
$size-coherant-caption: (
    null: 14px,
    $breakpoint-lg: 14px
);
$caption: (
    null: 13px,
    $breakpoint-lg: 14px
);
$remark: (
    null: 12px,
    $breakpoint-lg: 12px
);
$button: (
    null: 14px,
    $breakpoint-lg: 18px
);

$static-font-level: (
    "super-title": $super-title,
    "title": $title,
    "modal-title": $modal-title,
    "subtitle": $subtitle,
    "sub-headline": $sub-headline,
    "headline": $headline,
    "sub-body": $sub-body,
    "body": $body,
    "icon": $icon,
    "content": $content,
    "caption": $caption,
    "remark": $remark,
    "button": $button,
    "detail-caption": $detail-caption,
    "size-coherant-caption": $size-coherant-caption
);

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint==null {
            font-size: $fs-font-size;
        } @else {
            @include mediaMinWidth($fs-breakpoint) {
                font-size: $fs-font-size;
            }
        }
    }
}

@each $font-level, $value in $static-font-level {
    .text-level-#{$font-level} {
        @include font-size($value);
    }
}

@each $font-weight, $value in $static-font-weight {
    .text-font-#{$font-weight} {
        font-weight: $value;
    }
}

$text-transform: ("uppercase", "capitalize", "lowercase", "none");

@each $text-value in $text-transform {
    .#{$text-value} {
        text-transform: #{$text-value};
    }
}

.mobileView {
    .text-level-super-title {
        font-size: 26px;
    }

    .text-level-title {
        font-size: 22px;
    }

    .text-level-modal-title {
        font-size: 20px;
    }

    .text-level-subtitle {
        font-size: 18px;
    }

    .text-level-sub-headline {
        font-size: 18px;
    }

    .text-level-headline {
        font-size: 16px;
    }

    .text-level-sub-body {
        font-size: 14px;
    }

    .text-level-body {
        font-size: 14px;
    }

    .text-level-icon {
        font-size: 16px;
    }

    .text-level-content {
        font-size: 15px;
    }

    .text-level-caption {
        font-size: 13px;
    }

    .text-level-remark {
        font-size: 12px;
    }

    .text-level-button {
        font-size: 14px;
    }

    .text-level-detail-caption {
        font-size: 16px;
    }

    .text-level-size-coherant-caption {
        font-size: 14px;
    }
}
